.login{
    background-color: transparent;
    border: 2px solid #2b3952;
    color: #2b3952;
    display: flex;
    align-items: center;
    max-width: 60%;
    justify-content: center;
    align-self: center;
}
.login:hover{
    cursor: pointer;
}
.cs-icon{
width: 10%;
}
.name{
    text-align: center;
    width: 20em;
}
.login:active{
    opacity: 0.8;
}
.pas{
    font-size: 50px;
    text-align: center;
}
.userid{
    text-align: center;
}