

body {
  background-color: #faf9fd;
  margin: 0;
  padding: 0;
  min-height: 1100px;
  transition: 0.15s ease-in-out;
  position: relative;
  padding: 0px 50px;
}



@font-face {
  font-family: arab;
  src: url(../fonts/alfont_com_Bahij-Palatino-Sans-Arabic-Regular.ttf);

}

@font-face {
  font-family: thinf;
  src: url(../fonts/static/Anybody-Light.ttf);
}

@font-face {
  font-family: thing;
  src: url(../fonts/static/Anybody-Medium.ttf);
}

* {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.btn,
a {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


}

::-webkit-scrollbar {
  width: 10px;
  background: #a9d4dc5e;

}

::-webkit-scrollbar-thumb {
  background: #1d8da3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #50b5ca
}

a,
a:focus,
a:active {
  text-decoration: none;

  transform: translateY(0);


}
.page1{
  height: 100vh;
}